@mixin icon-shadow($color, $thickness: 8px) {
    filter: drop-shadow(1px 1px $thickness $color);
}

@mixin highlight($width, $height, $thickness: 15px) {
    box-shadow: 0 0 $thickness $color-red;
    border: 1px solid rgba($color-red, 0.5);
    border-radius: 100%;
    width: $width;
    height: $height;
    line-height: normal;

    .icon {
        margin: 0;
    }
}